body {
    transition: background-color 0.5s ease;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  div {
    font-size: larger;
    font-family: 'Sigmar', cursive;
    color: white;
  }
  label {
    font-family: 'Sigmar', cursive;
  }